<div class="titulo-secundario">
  <h2>Invertec Automação Industrial
    <span>Há mais de 10 anos prestando a você serviços e melhorias!</span>
  </h2>
</div>

<section class="col-metade">
  <div class="content">
    <div class="col-info esquerda">
      <div class="titulo-terciario">
        <h3>Nossa <em>história</em></h3>
      </div>
      <p class="texto">A empresa INVERTEC ® Automação Industrial surgiu no ano de 2001 com o intuito de prestar serviços
        na área de manutenção eletrônica industrial.
      </p>
      <p> Hoje atuamos nos mais diversos segmentos industriais, nos quais podemos destacar: metalúrgica, têxtil,
        plásticos, alimentícia, hospitalar entre outros, além de trabalhos em parceria com fabricantes de máquinas.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quos temporibus sint quibusdam expedita magnam
        eveniet maxime voluptatem tenetur, alias atque non eaque aperiam, provident praesentium ad quasi, soluta dolore
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maiores eveniet quisquam quam accusantium?
        Ipsum temporibus, fugiat magnam praesentium distinctio ex unde odio. Aspernatur, quia asperiores. Veritatis
        inventore velit nemo?
      </p>
    </div>
    <div class="imagem">
      <img ngSrc="../../../assets/quem-somos/empresa1.png" fill>
    </div>
  </div>
</section>

<section class="topicos">
  <div class="content">
    <div class="topico">
      <div class="titulo-terciario">
        <h3>Nosso <em>propósito</em></h3>
      </div>
      <p>Impulsionar o crescimento e a eficiência das indústrias por meio de soluções avançadas de automação. Nosso
        objetivo é sermos reconhecidos como parceiros confiáveis e inovadores, oferecendo serviços de excelência que
        impulsionem a produtividade, qualidade e competitividade dos nossos clientes.</p>
    </div>
    <div class="topico">
      <div class="titulo-terciario">
        <h3>Nossa <em>missão</em></h3>
      </div>
      <p>Fornecer soluções personalizadas e de alta qualidade em automação industrial, superando as expectativas dos
        nossos clientes. Buscamos compreender suas necessidades específicas e oferecer serviços inovadores, confiáveis
        e eficientes, visando sempre a excelência e a satisfação total dos nossos clientes.</p>
    </div>
    <div class="topico">
      <div class="titulo-terciario">
        <h3>Nossos <em>valores</em></h3>
      </div>
      <p>Trabalhamos e prezamos por: </p>
      <ul>
        <li>Simplicidade</li>
        <li>Transparência</li>
        <li>Comprometimento</li>
        <li>Inovação</li>
        <li>Foco em resultados</li>
        <li>Excelência</li>
      </ul>
    </div>
  </div>
</section>