/*
* ### Colors.scss
*
*   - Cores a serem utilizadas no projeto
*
*/

$background:                                  rgb(255, 255, 255);
$cor-principal:                               rgb(15, 90, 149);

$cor-texto:                                   rgb(0, 0, 0);
$texto-secundario:                            rgb(153, 163, 170);

$destaque:                                    rgb(248, 249, 249, 100%);

$footer:                                      rgb(20, 20, 20);
$footer-destaque:                             rgb(30, 30, 30);
