/**
 * Variables
 * =================================
 */



/**
 * Typography
 * =================================
 */

$font-family-base            :   Roboto, Verdana, sans-serif;
$font-family-headings        :   $font-family-base; 

$font-weight-headings        :   bold;   
$line-height-headings        :   1.1;

$font-weight-regular         :   400 !default;
$font-weight-medium          :   500 !default;
$font-weight-bold            :   700 !default;

$font-size-base              :   1rem !default; 

$h1-font-size                :  $font-size-base * 2.5 !default;
$h2-font-size                :  $font-size-base * 2 !default;
$h3-font-size                :  $font-size-base * 1.75 !default;
$h4-font-size                :  $font-size-base * 1.5 !default;
$h5-font-size                :  $font-size-base * 1.25 !default;
$h6-font-size                :  $font-size-base !default;

/**
 * Z-index variables
 * =================================
 */
 $z-low                      : 10;
 $z-mid                      : 100;
 $z-high                     : 1000;