/**
 * Variables
 * =================================
 */



/**
 * Typography
 * =================================
 */

$font-family-base            :   Roboto, Verdana, sans-serif;
$font-family-headings        :   $font-family-base;

$font-weight-regular         :   400 !default;
$font-weight-medium          :   500 !default;
$font-weight-bold            :   700 !default;

$font-size-base              :   1rem !default; 

$size-xxs                    :   0.125rem;
$size-xs                     :   0.25rem;
$size-s                      :   0.5rem;
$size-m                      :   1rem;
$size-l                      :   2rem;
$size-xl                     :   4rem;
$size-xxl                    :   8rem;

/**
 * Z-index variables
 * =================================
 */
 $z-low                      : 10;
 $z-mid                      : 100;
 $z-high                     : 1000;