<section class="intro">
  <div class="content">
    <div class="titulo-secundario">
      <h2><em>Soluções</em> de automação</h2>
    </div>
    <p class="texto">Com a intenção de criar soluções inteligentes, que visam aumentar a produtividade, melhorar a
      qualidade, otimizar
      recursos humanos e materiais, a Invertec busca em parceria com seus clientes aplicar as melhores soluções de
      Automação Industrial do mercado. <br>
      A Invertec possui profissionais com mais de 10 anos de experiência em desenvolvimento de softwares aplicativos
      para
      CLPs, IHMs, Supervisórios e Redes Industriais. </p>
  </div>
</section>

<section class="col-metade">
  <div class="content inferior">
    <div class="col-info esquerda">
      <h3>1. Desenvolvimento de aplicações para controladores lógicos programáveis</h3>
      <p class="texto">Possuímos experiências nas mais modernas ferramentas de programação, das quais destacamos:</p>
      <ul>
        <li>Schneider: Unity, Somachine, PL7, Atos-A1;</li>
        <li>Rockwell</li>
        <li>Siemens</li>
        <li>Eaton (Moeller): Codesys 2.3.9;</li>
        <li>Weg</li>
        <li>Toshiba</li>
        <li>Ber;</li>
      </ul>
    </div>
    <div class="w-70">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/automacao/pl7.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block legenda-custom-carrossel">
              <h4>PL7</h4>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/automacao/software-unity.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block legenda-custom-carrossel">
              <h4>Software Unity</h4>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/automacao/somachine.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block legenda-custom-carrossel">
              <h4>Somachine</h4>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="col-metade">
  <div class="content superior">
    <div class="imagem">
      <img ngSrc="../../../assets/automacao/vijeo_designer.png" fill>
    </div>
    <div class="col-info direita">
      <h3>2. Desenvolvimento de aplicações para Interfaces Homem Máquina (IHMs)</h3>
      <p class="texto">Em complemento a aplicações com uso de CLPs, desenvolvemos aplicações modernas e simplificadas
        para IHMs otimizando tempos e métodos em processos e máquinas.</p>
    </div>
  </div>
</section>

<section class="col-dois">
  <div class="content">
    <div class="superior">
      <h3>3. Desenvolvimento de sistemas de supervisão</h3>
      <p class="texto">Desenvolvemos sistemas de controle e supervisão, com geração de relátorios, graficos de tendência
        e disponibilização de dados de chão de fábrica para o sistema de gerenciamento empresarial.</p>
      <p class="texto">Além da utilização de ferramentas comerciais também desenvolvemos sistemas de supervisão
        proprietários, que possibilitam excelente custo beneficio para aplicações de pequeno porte, como por exemplo
        estações de tratamento de água, laboratórios químicos, sistemas de testes entre outros.</p>
    </div>
    <div class="inferior">
      <img class="space-right" ngSrc="../../../assets/automacao/sistema_sup.png" fill>
      <img ngSrc="../../../assets/automacao/invertec-2009-160.jpg" fill>
    </div>
  </div>
</section>

<section class="col-metade">
  <div class="content inferior">
    <div class="col-info esquerda">
      <h3>4. Desenvolvimento de aplicações utilizando redes industriais</h3>
      <p class="texto">Desenvolvemos diversos projetos utilizando as mais variadas redes industriais para uso otimizado
        em máquinas ou para uso em processos, como também a integração de mais de uma rede Industrial no mesmo sistema.
      </p>
      <p class="texto">A utilização de redes de comunicação possibilitam a diminuição da infra estrutura necessária bem
        como melhoram a performance das aplicações.
        Podemos destacar em nossas aplicações: Modbus TCP e serial,Canopen,Profibus e Profinet, Ethercat, Unitelway
        entre outras.</p>
    </div>
    <div class="imagem">
      <img ngSrc="../../../assets/automacao/redes_recortar.png" fill>
    </div>
  </div>
</section>

<section class="col-metade">
  <div class="content superior">
    <div class="imagem">
      <img ngSrc="../../../assets/automacao/vijeo_designer.png" fill>
    </div>
    <div class="col-info direita">
      <h3>5. Desenvolvimento de aplicações com Partidas Suaves, Inversores e Servo acionamentos</h3>
      <p class="texto">A Invertec é conhecida pelo seu amplo conhecimento em aplicações de soft- starters e inversores
        de frequência, sempre buscando o produto correto para melhor performance do sistema. <br>
        Também desenvolvemos sistemas com servoacionamentos, onde atuamos em controle de Torque, Velocidade,
        Posicionamento e Interpolações.</p>
    </div>
  </div>
</section>
