<section class="intro">
  <div class="content">
    <div class="titulo-secundario">
      <h2>Nossos <em>serviços</em></h2>
    </div>
    <p class="texto">Amplie o potencial da sua empresa com os serviços abrangentes oferecidos pela Invertec. Nossa
      equipe altamente qualificada está pronta para fornecer soluções personalizadas e inteligentes que atendam às suas
      necessidades. <br> Além dos nossos serviços de automação industrial, oferecemos uma variedade de opções, incluindo
      integração de sistemas, montagem de painéis, retrofitting e adequação às normas NR10-NR12. Trabalhamos em parceria
      com os clientes para otimizar recursos, aumentar a eficiência e impulsionar a produtividade.</p>
  </div>
</section>

<section class="col-metade">
  <div class="content inferior">
    <div class="col-info esquerda">
      <h3>Integração de sistemas</h3>
      <p class="texto">Com a crescente competitividade industrial devido a globalização são necessário processos e
        máquinas com sistemas de controle confiáveis, interligados com sistemas de gerenciamento proporcionando
        qualidade e produtividade no chão de fábrica e gerando informações e status para o nível gerencial.
      </p>
      <p class="texto">A Invertec oferece serviços de integração dos mais variados sistemas:
        Sistemas de supervisão, clps, drivers, Gprs, sistemas de gestão de produtividade e qualidade industrial entre
        outros.</p>
    </div>
    <div class="imagem">
      <img ngSrc="../../../assets/servicos/integracao.jpg" fill>
    </div>
  </div>
</section>

<section class="col-metade">
  <div class="content superior">
    <div class="w-70">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/automacao/pl7.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block legenda-custom-carrossel">
              <h4>PL7</h4>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/automacao/software-unity.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block legenda-custom-carrossel">
              <h4>Software Unity</h4>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/automacao/somachine.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block legenda-custom-carrossel">
              <h4>Somachine</h4>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-info direita">
      <h3>Montagem de Painéis</h3>
      <p class="texto">A Invertec possui excelente infra estrutura para montagem dos mais modernos painéis elétricos de
        automação e distribuição elétrica possuindo mais de 10 anos de atividade neste setor.</p>
    </div>
  </div>
</section>

<section class="col-dois">
  <div class="content">
    <div class="superior">
      <h3>Adequação de máquinas e equipamentos de acordo com as Normas Regulamentadoras NR10 e NR12</h3>
      <p class="texto">A Invertec se preocupa em executar seus projetos de acordo com as normas de segurança em
        instalações elétricas e também com as normas de segurança de máquinas NR10 e NR12.
        Além de projetos novos, também fazemos adequações em maquinas pré-existentes com emissão de ART por engenheiro
        responsável.</p>
    </div>
    <div class="inferior">
      <img class="space-right" ngSrc="../../../assets/servicos/adequacao1.jpg" fill>
      <img ngSrc="../../../assets/servicos/adequacao3.jpg" fill>
    </div>
  </div>
</section>

<section class="col-metade">
  <div class="content inferior">
    <div class="col-info esquerda">
      <h3>Instalação de Painéis, máquinas, equipamentos e Start-up</h3>
      <p class="texto">Para maior durabilidade de maquinas e equipamentos uma instalação dentro das normas técnicas se
        faz necessária, e a partida ou “start-up” sendo efetuado dentro das especificações do sistema otimiza a
        produtividade, qualidade e economia aumentando a produtividade da empresa.
      </p>
    </div>
    <div class="imagem">
      <img ngSrc="../../../assets/landing/automacao.jpg" fill>
    </div>
  </div>
</section>

<section class="col-dois">
  <div class="content">
    <div class="superior">
      <h3>Retrofitting</h3>
      <p class="texto">É um termo utilizado principalmente em engenharia para designar o processo de modernização de
        algum equipamento já considerado ultrapassado ou fora de norma.
        Visando atualizar e reaproveitar estruturas mecânicas de máquinas diversas, procuramos modernizar e otimizar
        máquinas com sistemas de controle e acionamentos ultrapassados.
        Abaixo alguns de nossos trabalhos:</p>
    </div>
    <div class="inferior">
      <div class="img-legenda">
        <img class="space-right" ngSrc="../../../assets/automacao/sistema_sup.png" fill>
        <p>Antes</p>
      </div>
      <div class="img-legenda">
        <img ngSrc="../../../assets/automacao/invertec-2009-160.jpg" fill>
        <p>Depois</p>
      </div>
    </div>
    <div class="inferior">
      <div class="img-legenda">
        <img class="space-right" ngSrc="../../../assets/automacao/sistema_sup.png" fill>
        <p>Antes</p>
      </div>
      <div class="img-legenda">
        <img ngSrc="../../../assets/automacao/invertec-2009-160.jpg" fill>
        <p>Depois</p>
      </div>
    </div>
  </div>
</section>

<section class="col-metade">
  <div class="content superior">
    <div class="imagem">
      <img ngSrc="../../../assets/automacao/pl7.png" fill>
    </div>
    <div class="col-info direita">
      <h3>Assistência técnica</h3>
      <p class="texto">Contamos com um moderno laboratório de reparos de para clps, ihms, inversores, fontes,
        servoacionamentos e placas dedicadas.</p>
      <p class="texto"> Somos também uma assistência técnica autorizada Schneider-Electric para produtos de automação, inversores e
        soft starters.
        http://www.schneider-electric.com.br/sites/brasil/pt/suporte/rede-de-prestadores.page
        Também dispomos de um atendimento personalizado para maquinas, processos e equipamentos em campo, proporcionando
        agilidade na solução de problemas.</p>
    </div>
  </div>
</section>