<section class="topo-landing">
  <div class="imagem">
    <section class="texto">
      <header>
        <h1 id="titulo-principal">INVERTEC ® Automação Industrial</h1>
        <h3>Faça da sua empresa uma referência!</h3>
      </header>
      <button mat-flat-button class="botao" routerLink="/servicos">Conheça nossos serviços</button>
    </section>
  </div>
</section>

<section class="col-metade">
  <div class="titulo-secundario">
    <h2>A melhor <em>solução</em> para a sua empresa!</h2>
  </div>

  <div class="content">
    <div class="col-info esquerda">
      <p class="texto">A <strong>INVERTEC® Automação Industrial</strong> trabalha para atender melhor qualquer
        necessidade que sua empresa tenha dentro da área eletroeletrônica e automação industrial. Possuímos uma equipe
        altamente qualificada, pronta para melhor atendê-lo e levar soluções para o seu ambiente de trabalho.</p>
      <p class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione neque incidunt explicabo voluptatibus
        tempore, est, illum temporibus magni deserunt aliquam voluptas dolor impedit unde rem iusto tempora corrupti.
        In, nam.</p>
      <button mat-flat-button class="botao" routerLink="/quem-somos">Sobre nós</button>
    </div>
    <div class="imagem sobre-nos">
      <img ngSrc="../../../assets/landing/placa.jpg" fill>
    </div>
  </div>
  <div class="quadrado"></div>
</section>

<section class="col-servicos">
  <div class="titulo-secundario">
    <h2>O que podemos lhe <em>oferecer</em>?</h2>
  </div>

  <div class="content">
    <div class="col-topo">
      <p class="texto">Trabalhamos com a mais alta tecnologia de informação e automação. Nossa equipe altamente
        qualificada possui conhecimento em diversas áreas da automação industrial, por isso hoje somos uma referência no
        ramo. <br>
        Credibilidade e confiança em nosso trabalho nos fazem ter um relacionamento sólido e transparente com o cliente.
        Confira alguns serviços prestados pela INVERTEC®.</p>
    </div>
    <div class="icones-servicos">
      <div class="item esq">
        <div class="servico">
          <img ngSrc="../../../assets/icons/integracao-sistemas.png" width="35" height="35">
          <h4>Integração de sistemas</h4>
        </div>
      </div>
      <div class="item center">
        <div class="servico">
          <img ngSrc="../../../assets/icons/retrofitting.png" width="32" height="35">
          <h4>Retrofitting</h4>
        </div>
      </div>
      <div class="item dir">
        <div class="servico">
          <img ngSrc="../../../assets/icons/montagem-paineis.png" width="32" height="35">
          <h4>Montagem de painéis</h4>
        </div>
      </div>
      <div class="item esq">
        <div class="servico">
          <img ngSrc="../../../assets/icons/automacao-industrial.png" width="32" height="35">
          <h4>Automação industrial</h4>
        </div>
      </div>
      <div class="item center">
        <div class="servico">
          <img ngSrc="../../../assets/icons/adequacao.png" width="32" height="35">
          <h4>Adequação para NR10/12</h4>
        </div>
      </div>
      <div class="item dir">
        <div class="servico">
          <img ngSrc="../../../assets/icons/instalacao.png" width="32" height="35">
          <h4>Instalação e start-up</h4>
        </div>
      </div>
    </div>
    <button mat-flat-button class="botao" routerLink="/servicos">Nossos serviços</button>
  </div>
</section>

<section class="col-metade">
  <div class="titulo-secundario">
    <h2><em>Experiência</em> em Automação Industrial</h2>
  </div>

  <div class="content">
    <div class="imagem">
      <img ngSrc="../../../assets/landing/automacao.jpg" fill>
    </div>
    <div class="col-info direita">
      <p class="texto automacao">Transforme a sua empresa com soluções de automação de ponta. A <strong>INVERTEC®
          Automação
          Industrial</strong> possui uma vasta experiência e expertise no desenvolvimento e implementação de soluções
        avançadas de automação industrial.
      </p>
      <p class="texto">Nossa equipe altamente qualificada está pronta para atender às suas necessidades,
        utilizando a mais alta
        tecnologia e conhecimentos especializados em diversas áreas. Trabalhamos em estreita colaboração com os clientes
        para criar soluções personalizadas que aumentem a eficiência, melhorem a produtividade e impulsionem o
        crescimento do seu negócio.</p>
      <button mat-flat-button class="botao" routerLink="/automacao-industrial">Veja nossas soluções de automação</button>
    </div>
  </div>
</section>